<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Header Workin now !!!!
        <a href="/">Home</a>
        <a href="/profile">profile556</a>
        <a href="/aboutus">about</a>
        <a href="/faq">faq</a>
        <a href="/api">product</a>
        <a href="/api/productbuy">product buy</a>
        <a href="/api/productdetail">product detail</a>
    </h1>
</body>
</html>